/* CSS del Fluentify Template */

/* Reset margini e paddin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

.centratura {
  width: 100%;
}

.logo {
  width: 15%;
  padding-top: 15px;
  position: relative;
  top: 10px;
}

.fields {
  width: 45%;
  top: 28px;
}

.navlink {
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
}

.navlink a {
  color: white;
  text-decoration: none;
}

.login {
  width: 35%;
}

.alogin {
  border: solid 1px white;
  padding: 5px;
  border-radius: 2px;
}

.astruttura {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #666;
}

.spot a {
  color: white;
  text-decoration: none;
}

nav {
  /* debug */
  background-color: #083357;
  padding: 0 5%;
  position: relative;
  height: 100px;
}

nav div {
  display: inline-block;
}


.downhead {
  /* debug */
  background-color: #083357;
  height: 500px;
  position: relative;
}

.spot {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 1px white;
  position: absolute;
  left: 5%;
  top: 10%;
}

.button {
  font-size: 14px;
  top: 35%;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #666;
}

.peopleimage {
  height: 100%;
  width: 100%;
  background-image: url(../img/fluentify-jumbo.png);
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 90;
}

.slogan {
  /* debug */
  background-color: lightgray;
  height: 150px;
  position: relative;
}

.blackspot {
  color: black;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thin {
  color: grey;
  font-size: 12px;
  font-weight: 400;
  top: 60%;
}

.box3colonne {
  /* debug */
  background: blue;
  height: 500px;
  width: 100%;
  padding: 5%;
}

.box3colonne::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  /* debug */
  background-color: green;
  height: 300px;
  width: 33.3%;
  float: left;
}

.box2colonne {
  /* debug */
  background: cyan;
  height: 500px;
  width: 100%;
  padding: 5%;
}

.box2colonne::after {
  content: "";
  display: table;
  clear: both;
}

.bigcol {
  /* debug */
  background-color: darkcyan;
  height: 300px;
  width: 50%;
  float: left;
}

.boxfooter {
  /* debug */
  background: black;
  height: 200px;
  width: 100%;
  padding: 5%;
}

.boxfooter::after {
  content: "";
  display: table;
  clear: both;
}

.footblock {
  background-color: pink;
  height: 100px;
  width: 50%;
  float: left;
  padding: 5%;
}
